:root {
  --max-width: 1600px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --base-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  --hover-shadow: 3px 7px 15px rgba(0, 0, 0, 0.1),
    -1px 3px 25px rgba(0, 0, 0, 0.1);
  --plum900: #180d26;
  --plum800: #30194d;
  --plum700: #472673;
  --plum600: #5f3399;
  --plum500: #7740bf;
  --plum400: #9266cc;
  --plum300: #ad8cd9;
  --plum200: #c9b3e5;
  --plum100: #e4d9f2;
  --plum50: #f1ecf9;
  --plum25: #f7f4fb;
  --berry900: #2a0921;
  --berry800: #541241;
  --berry700: #7e1b62;
  --berry600: #a82483;
  --berry500: #d22da3;
  --berry400: #db57b6;
  --berry300: #e481c8;
  --berry200: #edabda;
  --berry100: #f6d5ed;
  --berry50: #fbeaf6;
  --berry25: #fdf7fb;
  --grass900: #0f2413;
  --grass800: #1f4725;
  --grass700: #2e6b38;
  --grass600: #3d8f4b;
  --grass500: #4db35e;
  --grass400: #70c27e;
  --grass300: #94d19e;
  --grass200: #b8e0be;
  --grass100: #dbf0df;
  --grass50: #edf7ef;
  --grass25: #f8fcf9;
  --turquoise900: #0f2324;
  --turquoise800: #1e4547;
  --turquoise700: #2e686c;
  --turquoise600: #3d898f;
  --turquoise500: #4daeb3;
  --turquoise400: #70bec2;
  --turquoise300: #94ced1;
  --turquoise200: #b8dee0;
  --turquoise100: #dbeff0;
  --turquoise50: #edf7f7;
  --turquoise25: #f8fcfc;
  --tomato900: #2a0909;
  --tomato800: #541212;
  --tomato700: #7e1b1b;
  --tomato600: #a82424;
  --tomato500: #d22d2d;
  --tomato400: #db5757;
  --tomato300: #e48181;
  --tomato200: #edabab;
  --tomato100: #f6d5d5;
  --tomato50: #fbeaea;
  --tomato25: #fdf7f7;
  --orange900: #2f1404;
  --orange800: #5f2707;
  --orange700: #8e3b0b;
  --orange600: #be4f0e;
  --orange500: #ed6212;
  --orange400: #f18241;
  --orange300: #f4a171;
  --orange200: #f8c0a0;
  --orange100: #fbe0d0;
  --orange50: #fdefe7;
  --orange25: #fef9f6;
  --lemon900: #2e2205;
  --lemon800: #5c450a;
  --lemon700: #8a670f;
  --lemon600: #b88914;
  --lemon500: #e6ac19;
  --lemon400: #ebbc47;
  --lemon300: #f0cd75;
  --lemon200: #f5dea3;
  --lemon100: #faeed1;
  --lemon50: #fcf7e8;
  --lemon25: #fefcf6;
  --sky900: #0a1a29;
  --sky800: #143452;
  --sky700: #1f4f7a;
  --sky600: #2968a3;
  --sky500: #3382cc;
  --sky400: #5c9bd6;
  --sky300: #85b4e0;
  --sky200: #adcdeb;
  --sky100: #d6e6f5;
  --sky50: #ebf3fa;
  --sky50: #f7fafd;
  --cool900: #14113b;
  --cool800: #2a274b;
  --cool700: #444755;
  --cool600: #5b5f71;
  --cool500: #71768e;
  --cool400: #8e92a4;
  --cool300: #aaadbb;
  --cool200: #c6c8d2;
  --cool100: #e3e4e8;
  --cool50: #f1f1f4;
  --cool25: #f9fafa;
  --neutral900: #1a1a1a;
  --neutral800: #333;
  --neutral700: #4d4d4d;
  --neutral600: #666;
  --neutral500: #808080;
  --neutral400: #999;
  --neutral300: #b2b2b2;
  --neutral200: #ccc;
  --neutral100: #e5e5e5;
  --neutral50: #f2f2f2;
  --neutral25: #fafafa;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  position: relative;
  padding: 10rem 1.5rem 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: inherit;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  color: var(--cool900);
  --body-bg: var(--cool50);
  --header-bg: #fff;
  --header-border: var(--cool100);
  --header-height: 6.8rem;

  --card-bg: #fff;
  --onboardingBg: var(--berry50);
  --onboardingText: var(--berry700);
  --onboardingBorder: var(--berry300);
  --weeklyBg: var(--sky50);
  --weeklyText: var(--sky700);
  --weeklyBorder: var(--sky300);
  --growthBg: var(--tomato50);
  --growthText: var(--tomato600);
  --growthBorder: var(--tomato300);
  --goalsBg: var(--cool50);
  --goalsText: var(--cool600);
  --goalsBorder: var(--cool300);
  --teamworkBg: var(--orange50);
  --teamworkText: var(--orange600);
  --teamworkBorder: var(--orange300);
  --wellbeingBg: var(--grass50);
  --wellbeingText: var(--grass800);
  --wellbeingBorder: var(--grass300);
  --feedbackBg: var(--plum50);
  --feedbackText: var(--plum500);
  --feedbackBorder: var(--plum300);

  --current-route: var(--lemon500);
  --main-button: var(--lemon500);
  --main-button-hover: var(--lemon400);

  --pill-border: var(--lemon500);
  --pill-bg: white;
  --pill-active-bg: var(--lemon200);
  --pill-text: var(--cool900);
  --pill-active-text: var(--cool900);

  --dropdown-border: var(--cool400);
  --colormode-sun: var(--sky500);
  --colormode-moon: var(--sky300);
  --button-bg-colormode: var(--sky100);
  --button-bg-colormode-border: var(--sky200);
  --button-bg-colormode-hover: var(--sky50);
  --github: var(--cool900);
  --about: var(--neutral200);

  background-color: var(--body-bg);
  transition: all .2s;
}

body.dark {
  color: #ddd;
  --body-bg: var(--cool900);
  --header-bg: var(--cool800);
  --header-border: var(--cool700);

  --card-bg: var(--cool800);
  --onboardingBg: var(--berry800);
  --onboardingText: var(--berry400);
  --onboardingBorder: var(--berry700);
  --weeklyBg: var(--sky800);
  --weeklyText: var(--sky400);
  --weeklyBorder: var(--sky700);
  --growthBg: var(--tomato800);
  --growthText: var(--tomato400);
  --growthBorder: var(--tomato700);
  --goalsBg: var(--cool800);
  --goalsText: var(--cool400);
  --goalsBorder: var(--cool700);
  --teamworkBg: var(--orange800);
  --teamworkText: var(--orange400);
  --teamworkBorder: var(--orange700);
  --wellbeingBg: var(--grass800);
  --wellbeingText: var(--grass400);
  --wellbeingBorder: var(--grass700);
  --feedbackBg: var(--plum800);
  --feedbackText: var(--plum400);
  --feedbackBorder: var(--plum700);

  --pill-border: var(--lemon700);
  --pill-bg: var(--lemon900);
  --pill-active-bg: var(--lemon500);
  --pill-text: white;
  --pill-active-text: var(--lemon900);

  --colormode-sun: var(--lemon300);
  --colormode-moon: var(--lemon500);
  --button-bg-colormode: var(--sky700);
  --button-bg-colormode-border: var(--sky600);
  --button-bg-colormode-hover: var(--sky600);
  --github: var(--cool900);
  --about: var(--cool700);


}
a {
  color: inherit;
}
aside {
  position: sticky;
  top: 2rem;
}
h1 {
  margin:0;
  padding:0;
  line-height: 1.6;
  font-size: 3.6rem;
  font-weight: 400;
  z-index: 9;
}
h1 span {
  font-size: .6em;
  font-style: italic;
  letter-spacing: .15em;
  text-transform: capitalize;
}

h3 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 400;
  margin-bottom: 2rem;
}
h3 span {
  text-transform: capitalize;
  font-weight: 600;
}
@media (prefers-color-scheme: dark) {
  /* html {
    color-scheme: dark;
  } */
}
